<!DOCTYPE HTML>

<html>
	<head>
		<title>Pitchy-Pitches</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
	</head>
	<body id="top">
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Pitchy-Pitches</h1>
							<p>Welcome to Pitchy-Pitches..... remember to always express yourself and hit the home run</p>
						</header>
						{% if current_user.is_authenticated %}
						<div class="box">
								
								<div class="inner">
										<a href="{{url_for('main.profile',uname=current_user.username)}}"class="button fit">Profile</a>
								</div>
							</div>
							<div class="box">
								
									<div class="inner">
										<a href="{{url_for('auth.logout')}}"  class="button style2 fit">Sign out</a>
									</div>
								</div>
						{% else %}
						<div class="box">
								
								<div class="inner">
										<a href="{{url_for('auth.login')}}" class="button style2 fit">Sign in</a>
								</div>
							</div>
           
						{%endif%}
						<a href="#main" href="{{url_for('static',filename='photos/arrow.svg')}}"class="more">View </a>
					</div>
                </section>
                <div id="main">
					<div class="inner">

                    <!-- Boxes -->
                    <h2 class="text-center">Categories</h2>
						<div class="thumbnails">

							<div class="box">
							
								<div class="inner">
                      <a href="{{url_for('main.post',category='product')}}" class="button fit">Product</a>
								</div>
							</div>

							<div class="box">
								
								<div class="inner">
									<a href="{{url_for('main.post',category='pick-up')}}" class="button style2 fit">Pick Up Lines</a>
								</div>
							</div>

							<div class="box">
								
								<div class="inner">
                                    <a href="{{url_for('main.post',category='funny')}}" class="button style3 fit">Comedy</a>
								</div>
							</div>

							<div class="box">
								
								<div class="inner">
                                    <a href="{{url_for('main.post',category='cheesy')}}" class="button style2 fit">Cheesy</a>	
								</div>
							</div>

							<div class="box">
							
								<div class="inner">
                                    <a href="{{url_for('main.post',category='random')}}" class="button style3 fit"> Random</a>
								</div>
							</div>

							<div class="box">
								
								<div class="inner">
                                   
                                    <a href="{{url_for('main.post',category='all')}}" class="button fit">All</a>
								</div>
							</div>

						</div>

					</div>
				</div>

<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
