{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/comments.css')}}">
{% endblock%}
{% block content%}
    <div class="container">
    <div class="row comment-row">
        <h3 class="comment-title">Comments for <strong>{{post.title | upper }}</strong></h3>
        <a  href="{{url_for('main.comment',uname = current_user.id, post_id = post.id)}}"><button class="btn btn-info mr-0">Add
                a comment</button></a>


    </div>

        {% if comments %}
            {%for comment in comments%}
            <div class="row">
                <div class="col-xs-1 col-md-1 col-lg-1">
   
                </div>
                <div class="col">
                    <p ><strong>{{comment.user.name | upper}}</strong></a>: " {{comment.content}} "</p>
   
                </div>
            </div>
            <hr>    
            {% endfor %}
        {% else %}
        <h2>There are no comments</h2>
        {% endif %}

    </div>

{% endblock %}
