{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <div class="">
    <h3 class="text-center">Pitches</h3>
    {% if posts %}
    {% for row in posts | batch(2) %}
    <div class="row pitch-row">
        {% for post in row %}
        <div class="col-md-5 pitch-card">
            <img src="{{url_for('static',filename='pitch.user.profile_pic')}}" alt="">
            <h3 class="source-name">{{post.title | upper}}</h3>
            <p>Posted by <strong>{{post.user.name}}</strong></p>
            <p>Date: <strong>{{post.date}}</strong> at <strong>{{pitch.time}}</strong></p>
            <p>"{{post.body}}"</p>
            <p>CATEGORY: <strong>{{post.category | upper}}</strong></p>
       
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <h2>You have no pitches</h2>
    {% endif %}
</div>
</div>
{% endblock %}
